@{
    ViewData["Title"] = "Iniciar sesion";
}

<div class="container-form">
  <div class="form-container">
      <form method="post" class="form" action='@Url.Action("Login")'>
        <div class="form-group">
          <label for="UserName">Ingresar Usuario</label>
          <input type="text" id="UserName" name="UserName" required="">
        </div>
        <div class="form-group">
          <label for="Contrasena">Ingresar Contraseña</label>
          <input type="password" id="Contrasena" name="Contrasena" required="">
            <div class="form-group-box">
              <button type="button" onclick="verContra()">
                <img src="/img/Eye-icon.png" alt="">
              </button>
            </div>
        </div>
        <p>@ViewBag.Error</p>
        <a href='@Url.Action("Registrarse")'>Registrarse</a>
        <button class="form-submit-btn" type="submit">Iniciar sesion</button>
      </form>
  </div>
</div>

