@{
    ViewData["Title"] = "Registrarse";
}

<div class="container-form">
  <div class="form-container">
      <form class="form" method="post" action='@Url.Action("Register")' onsubmit="return(ValidarContrasena())">
        <div class="form-group">
          <label for="UserName">Ingresar Usuario</label>
          <input type="text" id="UserName" name="UserName" required="">
        </div>
        <div class="form-group" id="form-group">
            <label for="Contrasena">Ingresar Contrase単a</label>
              <div class="contrase単aWButton">
                <input type="password" class="text" id="Contrasena" name="Contrasena" required="">
                <div class="form-group-box">
                    <button type="button" onclick="verContra()">
                      <img src="/img/Eye-icon.png" alt="">
                    </button> 
                  </div>
              </div>
        </div>
        <div class="form-group" id="form-group">
            <label for="Contrasena">Confirme La Contrase単a</label>
              <div class="contrase単aWButton">
                <input type="password" class="text" id="Contrasena2" name="Contrasena" required="">
                <div class="form-group-box">
                    <button type="button" onclick="verContra2()">
                      <img src="/img/Eye-icon.png" alt="">
                    </button> 
                  </div>
              </div>
        </div>
        <div class="form-group">
          <label for="Nombre">Nombre</label>
          <input type="text" id="Nombre" name="Nombre" required="">
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" id="Email" name="Email" required="">
        </div>
        <div class="form-group">
          <label for="Telefono">Telefono</label>
          <input type="tel" id="Telefono" pattern="\([0-9]{3}\) [0-9]{3}[ -][0-9]{4}" name="Telefono" required="">
        </div>
        <p>@ViewBag.Error</p>
        <button class="form-submit-btn" type="submit" >Registrarse</button>
      </form>
  </div>
</div>

<h4 id="passwordError"></h4>
<h4 id="passwordError2"></h4>
