USE [master]
GO
/****** Object:  Database [BaseDeDatos]    Script Date: 28/9/2023 15:21:38 ******/
CREATE DATABASE [BaseDeDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseDeDatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseDeDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseDeDatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseDeDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseDeDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseDeDatos]
GO
/****** Object:  User [alumno]    Script Date: 28/9/2023 15:21:38 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28/9/2023 15:21:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UserName] [varchar](max) NOT NULL,
	[Contrasena] [varchar](max) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Telefono] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
